* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  background: #000000;
  overflow-x: hidden;
  line-height: 1.6;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1000;

  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fafafa;
}

nav .nav-links {
  display: flex;
}

nav .nav-links a {
  text-decoration: none;
  color: #c2bfbf;
  margin: 0 15px;
  transition: color 0.3s;
  padding: 10px 15px;
  border-radius: 5px;
}

nav .nav-links a:hover {
  color: #ffffff;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-text {
  position: relative;
  z-index: 2;
}

#hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  text-shadow: 0 0 8px rgba(212, 212, 212, 0.6);
  color: #cecece;
  padding-right: 100px;
  padding-left: 100px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8); /* Glow on Hover */
}

.services {
  padding: 60px 20px;
  background: #000000;
  text-align: center;
}

.services h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #fff;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  min-width: 300px;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  flex-shrink: 0;
  transition: transform 0.3s;
  scroll-snap-align: start;
}

.carousel-item:hover {
  transform: scale(1.05);
}

.projects {
  padding: 60px 20px;
  text-align: center;
}

.projects h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #fff;
}

.project-item img {
  width: 100%;
  border-radius: 10px;
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-filter button {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease, box-shadow 0.3s ease;
}

.project-filter button:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8); /* Glow on Hover */
}

.project-item {
  width: 300px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project-item:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}

.contact {
  padding: 60px 20px;
  background: #000000;
  text-align: center;
}

.contact h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: white;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact input,
.contact textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact button {
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1rem;
}

.contact button:hover {
  background: #fcfcfc;
  color: #000;
}

footer {
  padding: 20px;
  background: rgba(253, 253, 253, 0.8);
  backdrop-filter: blur(10px);
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}
